<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.univity">

    <uses-permission android:name="android.permission.CAMERA"/> <!-- 걸음수 측정 센서 권한 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <uses-feature
            android:name="android.hardware.camera2"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="false"
            android:icon="@drawable/app_icon"
            android:label="UNIvity"
            android:supportsRtl="true"
            android:theme="@style/Theme.UNIvity">
        <activity
                android:name=".Tutorial3Activity"
                android:exported="true"/>
        <activity
                android:name=".AchieveGoalActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".StorePopupActivity"
                android:exported="true"
                android:theme="@style/Transparent"/>
        <activity
                android:name=".LevelUpActivity"
                android:exported="true"/>
        <activity
                android:name=".StoreBuyFailActivity"
                android:exported="true"
                android:theme="@style/Transparent"/>
        <activity
                android:name=".FindId2Activity"
                android:exported="true"/>
        <activity
                android:name=".Tutorial1Activity"
                android:exported="true"/>
        <activity
                android:name=".Tutorial2Activity"
                android:exported="true"/>
        <activity
                android:name=".NewUser2"
                android:exported="true"/>
        <activity
                android:name=".NewUser1"
                android:exported="true"/>
        <activity
                android:name=".LogoutPopupActivity"
                android:exported="true"
                android:theme="@style/Transparent"/>
        <activity
                android:name=".StoryActivity"
                android:exported="true"/>
        <activity
                android:name=".RegisterFinishActivity"
                android:exported="true"/>
        <activity
                android:name=".FindPwdActivity"
                android:exported="true"/>
        <activity
                android:name=".FindIdActivity"
                android:exported="true"/>
        <activity
                android:name=".FindUserActivity"
                android:exported="true"/>
        <activity
                android:name=".Register2Activity"
                android:exported="true"/>
        <activity
                android:name=".RegisterActivity"
                android:exported="true"/>
        <activity
                android:name=".GoalSettingPopupActivity"
                android:exported="true"
                android:theme="@style/Transparent"/>
        <activity
                android:name=".LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".FinishWalkActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".ArActivity"
                android:exported="true">
        </activity>

        <meta-data
                android:name="com.google.ar.core"
                android:value="required"/>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>